includes:
  - baseline.neon
parameters:
  level: 2
  reportUnmatchedIgnoredErrors: true
  ignoreErrors:
    # new static() is a best practice in Drupal, so we cannot fix that.
    - '#^Unsafe usage of new static#'
  scanDirectories:
    # Tell PHPStan where to find GeoPHP classes.
    - vendor/itamair/geophp
  drupal:
    rules:
      testClassSuffixNameRule: false
      dependencySerializationTraitPropertyRule: false
      accessResultConditionRule: false
      classExtendsInternalClassRule: true
      pluginManagerInspectionRule: false
